.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "header header header" "sidebar main main" "footer footer footer";
    /* grid-template-rows: 100px auto auto auto auto 100px; */
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}